body {
  background: #5555e4;
  font-family: "Roboto";
  font-style: normal;
}

#root {
  display: flex;
  justify-content: center;
}

input:focus {
  outline: none;
}
.container {
  margin: 2em;
  width: 403px;
  /* height: 844px; */
  background: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 0.5em;
}

.input-container {
  display: flex;
  /* padding-left: 0.5em;
  padding-right: 0.5em; */
  margin-top: 0.5em;
  border: 1px solid #5555e4;
  border-radius: 5px;
  /* width: 326px; */
  height: 48px;
}
.large {
  padding-top: 0.5em;
  height: auto;
}
.invalid-input{
  background-color: #FEE6D8;
  border: 1px solid #F0453F;
  color: #F0453F;
}
.valid-input{
  background-color: #EDF7E9;
  border: 1px solid #0A6018;
  color: #0A6018;
}

.input-text {
  width: 100%;
  padding-left: 0.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: inherit;
  border: none;
  background: rgba(0, 0, 0, 0);
}

.send-button {
  justify-content: center;
  align-items: center;
  background: #5555e4;
  border-radius: 5px;
}

.send-button-text {
  width: 37px;
  height: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fbfbfb;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textarea {
  display: flex;
  padding: 6px;
  resize: vertical;
  min-height: 148px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.textarea:focus {
  outline: none;
}

.text-disclaimer {
  width: 326px;
  height: 48px;
  left: 32px;
  top: 536px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: flex-end;

  color: #000000;
}

.clear-form {
  width: 217px;
  height: 48px;
  left: 32px;
  top: 584px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  display: flex;
  align-items: center;
  text-decoration-line: underline;

  color: #5555e4;
}

.error-message {
  /* position: absolute;
width: 315px;
height: 17px;
left: 41px;
top: 366px; */

  /* Small Text - 12pt */
  padding-left: 0.5em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  /* display: flex;
align-items: center; */

  /* Dawn Danger 500 */

  color: #f0453f;
}
